---
import { profile } from '../data/profile';
import '../styles/components/header.css';
---

<header class="header">
  <div class="container">
    <div class="header-container">
      <a href="/" class="logo">
        {profile.name.split(' ')[0]}
      </a>
      
      
      
      <button class="mobile-menu-btn" aria-label="Toggle mobile menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>