<div class="home-page-container">
    <header>
        <div class="content-photo">
            <img src="https://firebasestorage.googleapis.com/v0/b/julioonmartinez-83a75.firebasestorage.app/o/black.jpg?alt=media&token=60b9e754-665f-4ce4-b8dc-36633b6775f4" alt="">
        </div>
        <h1 class="title" >Julioon Martinez</h1>
        <p class="subtitle" >Transformando datos en insights significativos</p>
        <div class="actions-header">
            <button (click)="scrollToSection('projects')" class="btn btn-projects" >
                <i class="fas fa-code"></i>
                Projectos
            </button>

            <button (click)="scrollToSection('data-viz')" class="btn btn-articles" >
                <i class="fas fa-newspaper"></i>
                Data VIZ
            </button>

            <button (click)="scrollToSection('skills')" class="btn btn-habilities" >
                <i class="fas fa-clock"></i>
               Habilidades
            </button>
         </div>
    </header>
    <section class="socila-media-links" >
        <a href="https://x.com/Julioonmartinez" target="_blank" class="content-link">
            <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/twitterx--v1.png" alt="twitterx--v1"/>
            <p>{{'@JulioonMartinez'}} </p>
        </a>

        
        <a href="https://www.instagram.com/julioon.data" target="_blank" class="content-link">
            <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/instagram-new--v1.png" alt="instagram-new--v1"/>
            <p>{{'@Julioon.Data'}} </p>
        </a>

        <a href="https://github.com/julioonmartinez" target="_blank" class="content-link">
            <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/github.png" alt="github"/>
            <p>{{'@julioonMartinez'}} </p>
        </a>
        
        <a href="https://www.linkedin.com/in/julio-martinez-515690319/" target="_blank"  class="content-link">
            <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/linkedin.png" alt="linkedin"/>
            <p>{{'@Julio Martinez'}} </p>
        </a>

    </section>
    <section id="projects" class="projects" >
        <!-- <h2>Proyectos destacados</h2> -->
         <p class="title-section" >
            <i class="fa fa-code" ></i>
            Projectos</p>
        <div class="projects-grid">
            @for (project of projects; track $index) {
                <div class="project-card">
                    <div class="container-image">
                        <img [src]="project.urlImage" alt="">

                    </div>
                    <div class="container-card">
                        <p class="title-card" >{{project.title}}</p>
                        <div class="technologies">
                            @for (tech of project.technologies; track $index) {
                                <span class="tech-tag" >{{tech}}</span>
                            }
                        </div>
                        <p class="subtitle-card" >{{project.description}} </p>
                        <div class="actions-card">
                            <button [routerLink]="['/project', project.id]" class="btn-go" >
                                <i class="fas fa-rocket"></i>
                                <span class="text" >Go!</span>    
                            </button>
                        </div>
                    </div>
                    
                </div>
            }
        </div>
    </section>

    <section id="data-viz" class="data-viz" >
        <!-- <h2>Proyectos destacados</h2> -->
         <p class="title-section" >
            <i class="fa fa-newspaper" ></i>
            Data Viz</p>
        <div class="data-viz-grid">

            <!-- <img src="https://th.bing.com/th/id/OIP.tLotgCDtzgTdwJcTiXWRCwHaEK?rs=1&pid=ImgDetMain" alt=""> -->


            @for (viz of dataviz; track $index) {
                <div [ngStyle]="{'background-image': 'url(' + viz.urlImage + ')'}" class="data-viz-card">
                    <div class="header-card">
                        
                    </div>
                    <div class="content-card">
                        <p class="title" >{{viz.title}}</p>
                        <div class="content-tech">
                            @for (tech of viz.technologies; track $index) {
                                <span>{{tech}}</span>

                            }
                        </div>
                        <p class="description" >{{viz.description}}</p>
                        <div class="actions-card">
                            <button [routerLink]="['/project', viz.id]"  class="btn-go" >
                                <i class="fas fa-rocket"></i>
                                <span class="text" >Go!</span>    
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section> 
    <section id="skills" class="skills" >
        <p class="title-section" >
            <i class="fa fa-clock" ></i>
            Skills
        </p>
        <div class="skill-grid">
            @for (skill of skills; track $index) {
                <div class="skills-card">
                    <div class="header-card">
                        <img [src]="skill.urlIcon" alt="">
                    </div>
                    <div class="content-side">
                        <p class="title" >{{skill.name}} </p>
                        <div class="progress-bar"></div>
                        <div class="list-projects">
                            @for (links of skill.projects; track $index) {
                                <button [routerLink]="['/project', links.id]" class="link"  >{{links.name}}</button>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>

    </section>
</div>